.score{
    font-size: 15px;
    background-color:white;
}
.matched{
    background-color: rgb(255, 253, 107);
}
table {
    column-rule-style: solid;
    column-rule-width: thin;
    }
th {  
    background-color:white;
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    font-weight: normal;
    max-width: 250px;
    min-width: 250px;
    }
td {
    max-width: 200px;
    min-width: 200px;
    word-break:break-all
}
td, th { 
    padding-left: 5px; 
    padding-top: 1px; 
    text-align: left; 
    font-size: 13px;
    }