<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ url_for('static', filename='jquery-simple-tree-table.js') }}"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='table.css') }}" rel="stylesheet">
  <title>Patients Data</title>

</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="True" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patient_input">Add Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protocol_input">Add Protocol</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/matching_criterion">Match</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/patient_data">View All Patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/protocol_data">View All Protocols</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>
  <br/>
  <br/>
  <button class="first-button" type="button" id="expander">Expand All</button>
  <button class="second-button" type="button" id="collapser">Collapse All</button>
  <div class="tablebody" >
    <table class="mytable" id="basic">
      <tr data-node-id="Index">
        <th class="myth" class="myth">Index</th>
        {% for d in data %}
          <td>{{ d['index'] }}</td>
        {% endfor %}
      </tr>
      <tr data-node-id="patient">
        <th class="myth">Patient Characteristics</th>
        {% for d in data %}
          <td></td>
        {% endfor %}
      </tr>
      <tr data-node-id="name" data-node-pid="patient">
        <th class="myth">Name</th>
        {% for d in data %}
          <td>{{ d['name'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="DOB" data-node-pid="patient">
        <th class="myth">DOB</th>
        {% for d in data %}
          <td>{{ d['DOB'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="age" data-node-pid="patient">
        <th class="myth">Age</th>
        {% for d in data %}
          <td>{{ d['age'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="weight" data-node-pid="patient">
        <th class="myth">Weight</th>
        {% for d in data %}
          <td>{{ d['weight'] }}</td>
        {% endfor %}
      </tr> <tr data-node-id="height" data-node-pid="patient">
        <th class="myth">Height</th>
        {% for d in data %}
          <td>{{ d['height'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="gender" data-node-pid="patient">
        <th class="myth">Gender</th>
        {% for d in data %}
          <td>{{ d['gender'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="race" data-node-pid="patient">
        <th class="myth">Race</th>
        {% for d in data %}
          <td>{{ d['race'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="performance_status" data-node-pid="patient">
        <th class="myth">Performance Status</th>
        {% for d in data %}
          <td>{{ d['performance_status'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="disease">
        <th class="myth">Disease</th>
        {% for d in data %}
          <td></td>
        {% endfor %}
      </tr>
      <tr data-node-id="tsite" data-node-pid="disease">
        <th class="myth">Treatment Site</th>
        {% for d in data %}
          <td>{{ d['treatment_site'] }}</td>
        {% endfor %}
      </tr>
      <tr data-node-id="T" data-node-pid="disease">
        <th class="myth">Staging T</th>
        {% for d in data %}
          <td>{{ d['T'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="N" data-node-pid="disease">
        <th class="myth">Staging N</th>
        {% for d in data %}
          <td>{{ d['N'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="M" data-node-pid="disease">
        <th class="myth">Staging M</th>
        {% for d in data %}
          <td>{{ d['M'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="risk" data-node-pid="disease">
        <th class="myth">Indications/Risk Group NCCN</th>
        {% for d in data %}
          <td>{{ d['risk_group'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="psite" data-node-pid="disease">
        <th class="myth">Primary Site</th>
        {% for d in data %}
          <td>{{ d['primary_site'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="metastasis" data-node-pid="disease">
        <th class="myth">Metastasis</th>
        {% for d in data %}
          <td>{{ d['metastasis'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="nodes_num" data-node-pid="disease">
        <th class="myth">No. of Nodes</th>
        {% for d in data %}
          <td>{{ d['nodes_num'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="stagesys" data-node-pid="disease">
        <th class="myth">Staging System</th>
        {% for d in data %}
          <td>{{ d['staging_system'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="diagnosis">
        <th class="myth">Diagnosis</th>
        {% for d in data %}
          <td></td>
        {% endfor %}
      </tr>
      <tr data-node-id="histology" data-node-pid="diagnosis">
        <th class="myth">Histology/Pathology</th>
        {% for d in data %}
          <td>{{ d['histology'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="margin" data-node-pid="diagnosis">
        <th class="myth">Margin</th>
        {% for d in data %}
          <td>{{ d['margin'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="psa" data-node-pid="diagnosis">
        <th class="myth">PSA</th>
        {% for d in data %}
          <td>{{ d['PSA'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="gleason" data-node-pid="diagnosis">
        <th class="myth">Gleason</th>
        {% for d in data %}
          <td>{{ d['gleason'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="tumor">
        <th class="myth">Tumor Specifics</th>
        {% for d in data %}
          <td></td>
        {% endfor %}
      </tr>
      <tr data-node-id="recurrence" data-node-pid="tumor">
        <th class="myth">Recurrence</th>
        {% for d in data %}
          <td>{{ d['recurrence'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="volume_size" data-node-pid="tumor">
        <th class="myth">Size in Volume</th>
        {% for d in data %}
          <td>{{ d['volume_size'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="dimension_size" data-node-pid="tumor">
        <th class="myth">Size in Dimension</th>
        {% for d in data %}
          <td>{{ d['dimension_size'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="location" data-node-pid="tumor">
        <th class="myth">Location</th>
        {% for d in data %}
          <td>{{ d['location'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="clinical_risk" data-node-pid="tumor">
        <th class="myth">Clinical Risk Factors</th>
        {% for d in data %}
          <td>{{ d['clinical_risk'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="intent">
        <th class="myth">History/Intent</th>
        {% for d in data %}
          <td></td>
        {% endfor %}
      </tr>
      <tr data-node-id="tintent" data-node-pid="intent">
        <th class="myth">Treatment Intent</th>
        {% for d in data %}
          <td>{{ d['treatment_intent'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="retreat" data-node-pid="intent">
        <th class="myth">Retreat</th>
        {% for d in data %}
          <td>{{ d['retreat'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="prior_RT" data-node-pid="intent">
        <th class="myth">Prior RT</th>
        {% for d in data %}
          <td>{{ d['prior_RT'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="surgery" data-node-pid="intent">
        <th class="myth">Surgery</th>
        {% for d in data %}
          <td>{{ d['surgery'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="chemtherapy" data-node-pid="intent">
        <th class="myth">Chemtherapy</th>
        {% for d in data %}
          <td>{{ d['chemtherapy'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="hormone" data-node-pid="intent">
        <th class="myth">Hormone</th>
        {% for d in data %}
          <td>{{ d['hormone'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="immunotherapy" data-node-pid="intent">
        <th class="myth">Immunotherapy</th>
        {% for d in data %}
          <td>{{ d['immunotherapy'] }}</td>
        {% endfor %}
      </tr> 
      <tr data-node-id="ADT" data-node-pid="intent">
        <th class="myth">Androgen Deprivation (ADT)</th>
        {% for d in data %}
          <td>{{ d['ADT'] }}</td>
        {% endfor %}
      </tr> 
    </table>
  </div>
  
  <script>
  $('#basic').simpleTreeTable({
    expander: $('#expander'),
    collapser: $('#collapser'),
    store: 'session',
    storeKey: 'simple-tree-table-basic'
  });
  $('#open1').on('click', function() {
    $('#basic').data('simple-tree-table').openByID("1");
  });
  $('#close1').on('click', function() {
    $('#basic').data('simple-tree-table').closeByID("1");
  });
  </script>
</body>
</html>
